
Screen {
    align: center middle;
    background: #c1e8e4;
}
Stopwatch {
    align: center middle;
    height: 5;
    margin: 1;
    min-width: 30;
    padding: 0;
}
TimeDisplay {
    text-align: center;
    color: #000;
    height: 3;
}
#start {
    background: #005511;
    color: #fff;
    margin: 0 1;
}
#stop {
    background: #990025;
    color: #fff;
    margin: 0 1;
}
#reset {
    background: #005599;
    color: #fff;
    margin: 0 1;
}